h1{
    
font-family: 'PT Serif', serif;
font-size: 50px;
}
h2{
    font-size: 40px;
}
.flexible-container{
    display: flex;
   
    
}
.half-width{
    width: 50%;
    
    
}
.half-width img{
    width: 40%;
}
.text-color{
color: orange;
}
.container-one{
    margin-left: 100px;
}
#stay-focused{
    border-left: 5px solid blueviolet;
    height: 130px;
    padding-left: 10px;
   
  
    
}
#hablu{
    margin-left: 100px;
}
.link-button{
    text-decoration: none;
    background-color: white;
    background-image: linear-gradient(tomato,orange);
    font-weight: 700px;
    padding: 10px 20px;
    border-radius: 5px;
    
    

}
#text-position{
    text-align: center;
}
.one-third{
    width: 25%;
}
#mission{
    background-color: rgb(216, 204, 204);
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
}
#vission{
    background-color: #FFF8DC;
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;

}
#goals{
    background-color:#F0FFFF;
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
}
.image-size{
    width: 35%;
}


#coding-image{
    width: 50%;
    margin-left: 100px;
    ;
    
}
.section-three{
    margin-top: 100px;
    background-image: url(shapes/shape-1.png);
    background-position: left center;
    background-repeat: no-repeat;
   background-size: 200px;
}
.text-width{
    width: 60%;
    margin-right:400px;

    
    
    
}
.section-four{
    margin-top: 100px;
    margin-left: 200px;
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    ;
    background-size: 200px;
    margin-right: 100px;
}
#project-image{
    width: 50%;
    float: right;
   
    background-position: right bottom;
    margin-right: 80px;

   
}